<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  This is the example project of Local and Push Notification in Ionic 2.
   
  <button ion-button full primary (click)="scheduleNotification()">Schedule User Time</button>
  <button ion-button color="primary" (click)="postCall()" > Post Request</button>
  <button ion-button color="danger" (click)="getNotificationList()" > Send Notification List</button>
  <button ion-button color="primary" (click)="getNotification()" > Send Notification</button>
  <ul>
    <li *ngFor="let messages of allMessage">
      {{ messages.id }}
      {{ messages.title }}
      {{ messages.text }}
      </li>
  </ul>

  <ion-option *ngFor="let messages of message" >{{messages.title}}</ion-option>
  
</ion-content>
